@import url('https://fonts.googleapis.com/css?family=Lobster|Tomorrow&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	 overflow: hidden;
}
body {
	position: relative;
	background: #06688F;
	color: #fafafa;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Tomorrow', sans-serif;
  height: 100vh;
	max-width:100% ;
	overflow: hidden;
	text-align: center;
	overscroll-behavior-y: contain;
}

h1.newyear {
	font-family: 'Lobster', cursive;
	font-size: 7rem;
	text-shadow: 0.3rem 0.3rem #2082A8;
	margin: 2rem;
}

.countdown-container {
	display: flex;
}

.fa-snowflake {
	color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
}

@keyframes fall {
	to {
		transform: translateY(105vh);
	}
}


.time {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.2rem;
	flex-direction: column;
	margin: 0 15px;
	background: #fafafa;
	color: #333;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	box-shadow: 0.3rem 0.3rem 0.3rem #6D0FF2, -0.3rem -0.3rem 0.3rem #C004D9;
}


.h1 {
	font-family: 'Lobster', cursive;
	font-size: 5rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

.celbtn{
	display: inline-block;
	padding: 0.7rem 1.4rem;
	color: black;
	font-size: 1.3rem;
	font-weight: bold;
	background-color: wheat;
	border-radius: 5px;
	text-decoration: none;
	z-index: 2;
	box-shadow: 0.3rem 0.3rem 0.3rem #333;
	border: 1px solid #333;
	cursor: pointer;
	margin: 0 ;
}

.celbtn:hover{
	 background-color: burlywood;
}


.time small {
	color: rgb(177, 172, 172);
}

.animate {
	animation: grow 4s ease-in-out;
	opacity: 0.3;
	color: white;
	border-radius: 50%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	z-index: -1;
}

@keyframes grow {
	to {
		opacity: 0;
		transform: scale(4);
	}
}


@media(max-width:500px) {
	.countdown-container {
		flex-direction: column;
	}

	.time {
		margin-bottom: 1rem;
	}

	.h1 {
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	h1.newyear{
		 font-size: 6rem;
	}

}
